@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/fonts.scss';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';