.header {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg/header.png') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 525px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: #1A1918;
        font-weight: bold;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}